body {
    flex-direction: column;
}

.container {
    --boardSize: 840px;
    --tileSize: 0;  /*Will be initialized by javascript*/

    display: grid;
    margin: auto;
    border-style: solid;

    justify-content: center;
    align-content: center;
    background-color: black;

    width: var(--boardSize);
    height: var(--boardSize);

    grid-template-columns: repeat(var(--tileSize), calc(var(--boardSize) / var(--tileSize)));
    grid-template-rows: repeat(var(--tileSize), calc(var(--boardSize) / var(--tileSize)));
}

.tile {
    border: 1px solid #a6a6a6;
    background-color: white;
}
