.body {
    flex-direction: column;
}

.container {
    display: grid;
    margin: auto;
    width: 800px;
    columns: 800px;
    grid-template-columns: repeat(16, 50px);
    grid-template-rows: repeat(16, 50px);
    border-style: solid;
}

.tile {
    border: 1px solid black;
    background-color: white;
}

.filled {
    background-color: black;
}